<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script>
            const ROOM_ID = "<%= roomId %>"
        </script>
        <script
            src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
            defer
        ></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="script.js" defer></script>
        <link rel="stylesheet" href="style.css" />
        <title>Document</title>
    </head>
    <body>
        <div id="videos"></div>
    </body>
</html>
