:root {
    --primary: #14bbaa;
    --secondary: #2c3c4c;
    --input-border: #858282;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2em;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    grid-auto-rows: 100vh;
    display: grid;
    overflow: hidden;
}

#go {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    width: fit-content;
    color: white;
    grid-template-columns: 1fr 500px;
}

main {
    background-color: var(--secondary);
}

@media (min-width: 800px) {
    #videos {
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }
}

#videos {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(33%, 1fr));
    color: white;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary);
    gap: 2px;
}

video {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.your-video {
    position: absolute;
    width: 250px;
    cursor: grab;
    z-index: 1;
}

.your-video:active {
    cursor: grabbing;
}

.your-video video {
    border-radius: 2px;
}

.your-video .resizer {
    width: 15px;
    height: 15px;
    background: var(--primary);
    position: absolute;
    right: 0;
    border-radius: 5px;
    bottom: 0;
    cursor: se-resize;
}

video::-webkit-media-controls-panel {
    background: none;
}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-volume-control-container,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-current-time-display {
    display: none;
}

button,
.button {
    border: none;
    border-radius: 2em;
    color: #f5f0f0;
    background-color: transparent;
    font-size: 1em;
    text-decoration: none;
}

:is(button, .button):not(.icon) {
    padding: 8px 12px;
}

#stop-call {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cf2f2f;
}

.button-primary {
    background-color: var(--primary);
}

.button-secondary {
    background-color: var(--secondary);
}

button:not(:disabled) {
    cursor: pointer;
}

:is(button, .button):is(:disabled, :hover) {
    filter: brightness(0.9);
}

video.your-video {
    display: none;
}

#options {
    position: absolute;
    top: 10px;
    align-items: center;
    gap: 15px;
    right: 10px;
    display: flex;
}

#change-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card {
    background-color: #00000050;
    color: white;
    padding: 10px;
    z-index: 2;
    border-radius: 10px;
}

.jumbo {
    margin: 75px auto;
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.jumbo p {
    text-align: center;
}

hr {
    width: 100%;
}

.video .name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    font-size: 1em;
}

.video.your-video .name {
    display: none;
}

.video:not(.your-video) {
    position: relative;
}

#popup {
    background: var(--primary);
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px #00000033;
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
    transform: translate(-50%, -50%);
    max-width: 95%;
    width: 500px;
    transition: 0.3s opacity ease-in-out;
}

#popup.dismissed {
    opacity: 0;
    display: none;
}

#close {
    color: #b0b0b0;
    position: absolute;
    top: 5px;
    font-size: 1.5em;
    right: -5px;
}

.medium-header {
    display: flex;
    font-size: 3em;
    font-weight: 250;
    line-height: 1.2;
    margin: 10px;
}

.large-header {
    display: flex;
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px;
}

.input-group {
    display: flex;
    max-width: 90%;
}

.input-field:first-child,
.input-item:first-child {
    border-radius: 5px 0 0 5px;
}

.input-field:last-child,
.input-item:last-child {
    border-radius: 0 5px 5px 0;
}

.input-field {
    border-left: 1px solid var(--input-border) !important;
    width: 90%;
}

.input-field:not(:first-child) {
    border-left: 0;
}
.input-field:not(:last-child) {
    border-right: 0;
}

.input-item {
    background-color: var(--secondary);
    font: inherit;
    font-weight: normal;
    border-right: 1px solid var(--input-border) !important;
}

.input-field,
.input-item {
    border-top: 1px solid var(--input-border) !important;
    border-bottom: 1px solid var(--input-border) !important;
    border: 1px solid #93806c40;
    padding: 0.5em 0.75em;
}

#is-copied.copied {
    opacity: 100;
}

#is-copied {
    opacity: 0;
    transition: opacity 0.25s ease-in;
    color: #8f8d8d;
    padding: 20px;
}

@media (max-width: 500px) {
    #login input {
        max-width: 60vw;
    }
}

#login,
#novideo,
#deniedautoplay {
    background-color: var(--primary);
    color: white;
    display: flex;
    position: absolute;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

:is(#novideo, #deniedautoplay):not(.show) {
    display: none;
}

:is(#novideo, #deniedautoplay) p {
    font-size: 1.3em;
    margin: 10px auto;
}

:is(#novideo, #deniedautoplay, #login) * {
    text-align: center;
}

:is(#novideo, #deniedautoplay) a {
    text-decoration: underline;
}

:is(textarea, input[type="text"]) {
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 0.05em solid white;
    font-family: inherit;
    font-size: 1.3em;
    max-width: 100%;
    max-height: 90%;
}

:is(textarea, input[type="text"])::placeholder {
    color: #dbcece;
}
